<div class="container">
	<div class="row">
		<div class="span7 mycontent-left">
			<div class="row">
				<div class="span7 content-header">
					<span class="lead"><strong>About Us</strong></span>
				</div>
			</div>

			<div class="row">
				<div class="span7">
					<p class="section-title">Purpose</p>
						<p>As associate boards and other non-governing boards have become integrated into many nonprofit organizations’ strategic plans, it only makes sense to create a community for these boards to come together and share resources. Many boards have an abundance of talent and energy, but lack resources for board growth and development. Our goal is to create a space (both virtual and in-person) that brings non-governing boards together to share ideas, gain knowledge, and foster support and enthusiasm for the work achieved by these boards.</p>
						<p>Ultimately, we want to enable peer learning.</p>
				</div>
			</div>

			<div class="row">
				<p>&nbsp;</p>
			</div>

			<div class="row">
				<div class="span7">
					<p class="section-title">Background</p>
						<p>All A-Board Alliance was established in April 2014 when six members of various associate boards met at Open Books on Chicago's Near North Side. They quickly agreed on a vision for the alliance and began working to bring it to life.
						The task of naming the alliance proved to be challenging, as multiple names exist for boards with similar goals (associate board, auxiliary boards, junior boards, young professional boards etc). In an effort to be inclusive and show we have a sense of humor, the steering committee chose All A-Board Alliance as the name. This was intended to embody the notion that we aim to bring together all non-governing boards.</p>
				</div>
			</div>

			<div class="row">
				<p>&nbsp;</p>
			</div>

			<div class="row">
				<div class="span7">
					<p class="section-title">Structure</p>
						<p>Because this community is comprised of individuals who already have numerous meetings on their agenda, we respect the limited availability of our members. We designed the alliance to foster communication virtually and through minimal (quarterly) meetings. Further, we intend to have topic-oriented meetings which will allow members to determine in advance whether the meeting will provide value for them (e.g. Mission Drafting and Recruiting Founding Members may be relevant for new boards, but not for more established boards).</p>
						<p>Each quarter a different nonprofit organization will host the meeting. Experts may be brought in to present on topics at the meetings; however the primary focus will be allowing members to engage in group discussion to help overcome their boards’ unique challenges, brainstorm new strategies, and share resources. </p>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="row">
				<p><span class='lead'>Steering Committee</span></p>
				<p>All A-Board Alliance is overseen by a team of volunteers who have experience creating and/or serving on associate boards.</p>
				<%= image_tag "35b532e.jpg", class: "img-circle", alt: "Elizabeth Fu"  %><strong>Elizabeth Fu</strong>
				<%= image_tag "3000e10.jpg", class: "img-circle", alt: "Sarah Hurwit"  %><strong>Sarah Hurwit</strong>
				<%= image_tag "IMG_7006.jpg", class: "img-circle", alt: "Lauren King"  %><strong>Lauren King</strong>
				<%= image_tag "475192.jpg", class: "img-circle", alt: "Elizabeth Slawin"  %><strong>Elizabeth Slawin</strong>
				<%= image_tag "alnierys-venegas.jpg", class: "img-circle", alt: "Alnierys Venegas"  %><strong>Alnierys Venegas</strong>
				<%= image_tag "1e7c92e.jpg", class: "img-circle", alt: "Warren Yates"  %><strong>Warren Yates</strong>
			</div>
		</div>
	</div>
</div>
