<div class="container">
	<div class="row">
		<div class="span7 mycontent-left">
			<div class="row">
				<div class="span7 content-header">
					<span class="lead"><strong>Enhance your Associate Board Experience</strong></span>
				</div>
			</div>
			<div class="row">
				<div class="span7">
					<h4>Connect</h4>
									<p>Check out our curated list of <%= link_to 'Associate Boards', boards_path %>. This directory offers a list of associate boards around Chicago, along with a description of their mission. Enabling us to find each other.<blockquote><em>When we have a better way to connect with one another, then partnerships can start to develop.</em></blockquote></p>		
									<h4>Communicate</h4>
									<p>Let's borrow ideas from one another and also plan strategically. Browse through our up-to-date <%= link_to 'listing of events', events_path %> among all boards. Get ideas for your next event or partner up to make your event have a bigger impact.</p>
									<p><em>Have thoughts and feedback for a board?</em> <%= link_to 'Leave confidential reviews', new_review_path %> for boards to gain honest feedback about their performance.</p>
									<h4>Collaborate</h4> 
									<p>Resource sharing is an important tool for enhancing the outcomes of work done by associate boards.  <em>Why re-create the wheel each time you do an event?</em> Look through our <%= link_to 'resources library', articles_path %> for “How to” guides as well as reviews of local vendors and venues that have been used by our members.</p>
				</div>
			</div>
		</div>
		<div class="span3">
			<div class="row">
				<%= image_tag 'AAA_Logo.png' %>
				<p>&nbsp;</p>
			</div>
		</div>
	</div>
</div>