<div class="center hero-unit">
  <h1>Welcome to Chicago's Associate Board community. </h1>
  <h2>
    See what goes on around Chicago's Non-Governing Boards.
  </h2>
</div>

<div class="span12">
	<div class="span8 pull-left">
		<div class='row'>
		    
		</div>
	</div>

	<div class="span4 pull-right">
		<h4 class="text-center">Associate Board Reviews</h4>
		<% if !@boards.blank? %>
			<% @boards.each do |board| %>
				<% if board.reviews.any? %>
					<% review = board.get_random_review %>
					<strong><%= link_to board.name, board_reviews_path(board) %></strong> <small>( <%=  pluralize(board.reviews.size, 'review') %> )</small>
					<div class="star" data-score='<%= board.get_average_rating %>'></div>	
					<div>&nbsp;</div>	
					<blockquote>
						<p><%= link_to review.title, board_review_path(board, review)  %></p>
						<small><%= review.reviewer_type.name%>. Submitted <%= time_ago_in_words(review.created_at) %> ago.</small>
						<h5>Pros:</h5>
						<p style="font-size:14px"><%= review.pros.truncate(80, separator:' ') %> <%= link_to 'more', board_review_path(board, review)  %></p>
					</blockquote>
				<% end %>
			<% end %>
		<% else %>
		 <p class="text-center">No reviews yet, Be the first!
		 <%= link_to "Write a Review!", new_review_path, class: "btn btn-primary" %></p>
		<% end %>
	</div>
</div>
<script>
// call the flippyNum function
/*flippyNum(document.getElementById('flippy'), {
									startNumber: $('#flippy').data('value'),
									endNumber:  $('#flippy').data('value'),
									digits: $('#flippy').data('size'),
										imagePath: '/assets/flippyNum.png',
										width: 29,
										height: 40
										}
									);
*/									

$('.star').raty({ score: function() {
    						return $(this).attr('data-score');
  							},
	      		halfScore: true,
				readOnly: true
				});
</script>