<div class="center hero-unit">
  <h1>Welcome to Chicago's Associate Board community. </h1>
  <h2>
    See what goes on around Chicago's Non-Governing Boards.
  </h2>
</div>


<div class="row">
	<div class="span7 mycontent-left">
	
	</div>

	<div class="span4">
		<h4 class="text-center">Associate Board Reviews</h4>
		<% if !@boards.blank? %>
			<% @boards.each do |board| %>
				<% if board.reviews.any? %>
					<% review = board.get_random_review %>
					<strong><%= link_to board.name, board_path(board) %></strong> <small>( <%=  pluralize(board.reviews.size, 'review') %> )</small>
					<div class="star" data-score='<%= board.get_average_rating %>'></div>	
					<div>&nbsp;</div>	
					<blockquote>
						<p><%= link_to review.title, board_review_path(board, review)  %></p>
						<small><%= review.reviewer_type.name%>. Submitted <%= time_ago_in_words(review.created_at) %> ago.</small>
						<h5>Pros:</h5>
						<p style="font-size:14px"><%= review.pros.truncate(80, separator:' ') %> <%= link_to 'more', board_review_path(board, review)  %></p>
					</blockquote>
				<% end %>
			<% end %>
		<% else %>
		 <p class="text-center">No reviews yet, Be the first!
		 <%= link_to "Write a Review!", new_review_path, class: "btn btn-primary" %></p>
		<% end %>
	</div>
</div>

<div class ="row">
	<div class="span12 row-separator"></div>
	<div class='span12'>
		<div class='row'>
			<div class="span7 pull-left">
				<h4>Upcoming Events</h4>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				
				<% if !@events.blank? %>
					<table class="table">
						<tbody>
							<% @events.each do |event| %>
							<tr>
								<td width="50%"><strong><%= link_to event.name, event_path(event) %></strong></td>
								<td width="15%"><%= event.date.strftime("%B %d, %Y") %></td>
								<td width="35%"><%= link_to event.board.name, board_path(event.board) %></td>  
							</tr>
							<% end %>
						</tbody>
					</table>
				<% else %>
					<p>There are no currently no planned events. </p>
				<% end %>
			</div>
		</div>
	</div>
</div>


<script>
// call the flippyNum function
/*flippyNum(document.getElementById('flippy'), {
									startNumber: $('#flippy').data('value'),
									endNumber:  $('#flippy').data('value'),
									digits: $('#flippy').data('size'),
										imagePath: '/assets/flippyNum.png',
										width: 29,
										height: 40
										}
									);
*/
</script>