<div class="center hero-unit">
  <h1>Welcome to the TBD</h1>

  <h2>
    Get Involved. See what goes in around Chicago's Associate Boards.
  </h2>

  <%= link_to "Write a Review!", new_review_path, class: "btn btn-large btn-primary" %>
</div>
<div>
	<h3>Previous Reviews</h3>
	<% @boards.each do |board| %>
	<strong><%= board.name %></strong> <small>( <%= pluralize(board.reviews.size, 'review') %> )</small>
	<div class="star" data-score='<%= board.average_rating %>'></div>	
			<div>&nbsp;</div>	
	<blockquote>
			<p><%= board.reviews.first.title %></p>
			<small>Someone currently on this board.</small>
	</blockquote>
<% end %>
</div>

<script>
$('.star').raty({ score: function() {
    						return $(this).attr('data-score');
  							},
	      		halfScore: true,
				readOnly: true,
				hints: ['Very Dissatisfied', 'Dissatisfied', 'Neutral "OK"', 'Satisfied', 'Very Satisfied'],
				path: '/assets'
				});
</script>