<% provide(:title, "Chicago's Associate Boards:") %>

<div id="myCarousel" class="carousel slide">
	<!-- Carousel items -->
  	<div class="carousel-inner">
    	<div class="active item">
			<%= image_tag "slide-01.jpg" %>
			<div class="container">
				<div class="carousel-caption">
		    		<h1>Welcome to Chicago's Associate Board community.</h1>
					<p class="lead">We are creating a community to strengthen the impact of Associate Boards around Chicago.</p>
		   		</div>
			</div>
    	</div>
    	<div class="item">
			<%= image_tag "slide-02.jpg" %>
			<div class="container">
				<div class="carousel-caption">
		    		<h1>Already an Associate Board member?</h1>
					<p class="lead">Check out our curated list of associate boards, browse through our up-to-date listing of events, or look through our resources library to for "How to" guides and best practices. </p>
		        	<%= link_to ' Learn more', existing_path, class: "btn btn-large btn-primary" %>
		   		</div>
			</div>
    	</div>
    	<div class="item">
			<%= image_tag "slide-03.jpg" %>
			<div class="container">
				<div class="carousel-caption">
		    		<h1>Want to get involved with an Associate Board?</h1>
					<p class="lead">Browse through our up-to-date listing of events and join us at one of our quarterly meetups. </p>
		        	<%= link_to ' Learn more', interested_path, class: "btn btn-large btn-primary" %>
		   		</div>
			</div>
    	</div>
  	</div>
  	<!-- Carousel nav -->
  	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<div class="container">
	<div class="row">
		<div class="span12">
			<div class="span7 mycontent-left-no-border">
				<h3>Recent Updates</h3>
				<% if !@new_boards.blank? %>
					<p><span class="label label-info">Boards</span>&nbsp; <%= pluralize(@new_boards.count, 'board') %> claimed this week.</p>
					<% @new_boards.each do |new_board| %>
						<p><%= link_to new_board.name, board_path(new_board.slug) %><br />
							<small><span class="text-info">Contact: <%= mail_to new_board.user.email, new_board.user.get_name, encode: "hex", subject: "About your board on the All ABoard Alliance." %></span></small></p>
						<% if new_board == @new_boards.last %>
  							</p>	<hr />
  						<% end %>
					<% end %>
				<% end %>
				
				<% if !@new_events.blank? %>
					<p><span class="label label-info">Events</span>&nbsp; <%= pluralize(@new_events.count, 'event') %> added this week.</p>
					<% @new_events.each do |new_event| %>
						<p><%= link_to new_event.name, event_path(new_event.slug)  %> <br />
							<small><span class="text-info">Submitted by <%= link_to new_event.board.name, board_path(new_event.board.slug) %></span></small></p>
						<% if new_event == @new_events.last %>
  							</p>	<hr />
  						<% end %>
					<% end %>
				<% end %>
				
				<% if !@announcements.blank? %>
					<% @announcements.each do |announcement| %>
						<p><span class="label label-info">Announcement</span>&nbsp;<%= announcement.text %><br />
						<small><span class="text-info">By: <%= link_to announcement.board.name, board_path(announcement.board.slug) %> | Submitted <%= time_ago_in_words(announcement.created_at) %> ago.</span></small></p>
						<hr />
					<% end %>
				<% end %>
				
				<% if !@recent_articles.blank? %>
					<% @recent_articles.each do |recent_article| %>
						<p><span class="label label-info">KB Article</span>&nbsp; <strong><%= link_to recent_article.title.html_safe, article_path(recent_article.slug) %></strong><br />	
						<small><span class="text-info">Published: <%= time_ago_in_words(recent_article.created_at) %> ago by <%= mail_to recent_article.user.email, recent_article.user.get_name, encode:"hex", subject: "About your KB article on All ABoard Alliance.", body: "I read through your Knowledge Base article on " + recent_article.title.html_safe + "and I wanted to reach out to you about it."%>.</span></small></p>
						<% if recent_article != @recent_articles.last %>
  								<hr />
  						<% end %>
					<% end %>
				<% end %>
				
			</div>
			<div class="span4 pull-right">
				<div class="row">
					<div>
						<%= image_tag 'AAA_Logo.png' %>
						
						<a class="twitter-timeline" 
						   href="https://twitter.com/ABoardAlliance" 
						   data-widget-id="515968580030963712"
  						   width="300"
						   height="500"
						   target="_blank">
						Tweets by @ABoardAlliance</a>
					</div>
					
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span12 row-separator pull-right">
		</div>
	</div>
	
	<div class='row'>
		<div class="span12">
			<div class="span8 pull-left">
				<h3>Upcoming Events</h3>
			</div>
			<div class="span3 pull-right">
				<h3 class="text-right"><%= button_to 'See All Events', events_path, class: "btn btn-link", method: 'get' %> </h3>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span12 pull-right">
			<% if !@events.blank? %>
				<table class="table">
					<tbody>
						<% @events.each do |event| %>
							<tr>
								<td width="80%"><h4><%= link_to event.name, event_path(event.slug) %></h4></td>
								<td width="20%"><strong><%= event.date.strftime("%B %d, %Y") %></strong></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			<% else %>
				<p>There are no currently no planned events. </p>
			<% end %>
		</div>
	</div>
</div>

<script>
// call the flippyNum function
/*flippyNum(document.getElementById('flippy'), {
									startNumber: $('#flippy').data('value'),
									endNumber:  $('#flippy').data('value'),
									digits: $('#flippy').data('size'),
										imagePath: '/assets/flippyNum.png',
										width: 29,
										height: 40
										}
									);
*/
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
	
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");


</script>