<div class="row">
	<div class="span12 content-header">
		<span class="lead"><strong>Knowledge Base (KB) Articles</strong></span>
		<p>This is a listing of resources and articles that we have collected from the community.</p><%= link_to "New Article", new_article_path %>
	</div>
</div>


<div class="row">
	<div class="span7">
		<% if !@articles.blank? %>
			<% @articles.each do |article| %>
  				<p><strong><%= link_to article.title.html_safe, article_path(article.slug) %></strong><br />
				<small><span class="text-info">Published: <%= time_ago_in_words(article.created_at) %> ago.</span></small></p>
  				<p><%= article.body.truncate(500, separator:' ').html_safe %><br />
<p><%= link_to 'more', article_path(article.slug)  %></p>
  				<% if article != @articles.last %>
  					<hr />
  				<% end %>
			<% end %>
		<% end %>
	</div>
</div>

