<div class="row">
	<div class="span7 mycontent-left">
		
		<div class="row">
			<div class="span7 content-header">
				<span class="lead"><strong><%= @article.title.html_safe %></strong></span> <br />
				<small><span class="text-info">Published: <%= time_ago_in_words(@article.created_at) %> ago by <%= @article.user.get_name %>.</span></small>
			</div>
		</div>
		
		<div class="row">
			<div class="span7">
				<%= @article.body.html_safe %>
				</div>
		</div>
	</div>
	<div class="span4">
		<div class="row">
			<%= image_tag 'AAA_Logo.png' %>
			<p>&nbsp;</p>
			
			<% if site_admin_logged_in? %>
				<p><strong>Admin Options</strong></p>
				<small><%= link_to "Edit Article", edit_article_path(@article.slug) %></small>
			<% end %>
		</div>
	</div>
</div>