<% provide(:title, @article.title.html_safe + ": ") %>
<%= render 'shared/header' %>

<section>
	<div class="container">
		<div class="col-md-12 ">
			<h2 class="section-heading"><%= @article.title.html_safe %></h2>
			<p class="text-info"><small>Published: <%= time_ago_in_words(@article.created_at) %> ago by <%= @article.user.get_name %>.</small></p>
		</div>
		<div class="row">
			<div class="col-md-7 mycontent-left">
				<div class="row">
					<div class="col-md-12">
						<%= @article.body.html_safe %>
					</div>
				</div>

				<div class="row">
					<div class="span7 clear-separator">
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<h5>Comments (<%= @comments.size %>) <%= link_to 'Leave a comment', new_article_comment_path(:article_slug => @article.slug, :article_id => @article.id) %></h5>
						<% if !user_signed_in? %>
							<small><span class="text-info">(You must be signed in to leave a comment.)</span></small>
						<% end %>

						</p>
					<% if !@comments.blank? %>

						<% @comments.each do |comment| %>
							<p><%= comment.text %><br />
								<small><span class="text-info">Submitted: <%= time_ago_in_words(comment.created_at) %> ago by <%= comment.user.get_name %> </span></small></p>
								<% if comment != @comments.last %>
		  								<hr />
		  						<% end %>
						<% end %>
					<% else %>
						<p>Be the first, <%= link_to 'leave a comment', new_article_comment_path(:article_slug => @article.slug, :article_id => @article.id) %>.</p>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-12">
					<% if site_admin_logged_in? %>
						<h4>Admin Options</h4>
						<p><%= link_to "Edit Article", edit_article_path(@article.slug) %></p>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</section>
