<%= form_for [@board, @event] do |f| %>
	<div class="form-group">
		<%= render 'error_messages' %>

		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<%= f.label :name, 'Event Title'%>
					<%= f.text_field :name, :placeholder=>"Ex: A-Board Launch Party", class:"form-control" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<%= f.label :description, 'Summary of event'%>
					<%= f.text_area :description, :placeholder=>"Descriptive summary of your event. Tell us about the event.", :rows=>5, :class=>'input-block-level', class:"form-control"  %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<%= f.label :date, 'Event date'%>
					<%= f.text_field :date, class:"datepicker form-control" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<%= f.label :location, 'Event Location'%>
					<%= f.text_field :location, :placeholder=>"ACME Ballroom", class:"form-control" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<%= f.label :event_url, 'URL to event page'%>
					<%= f.text_field :event_url, :placeholder=>"http://example.com/board_name", class:"form-control" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<%= f.label :start_time, 'Event Start Time'%>
					<%= f.text_field :start_time, :placeholder=>"5PM", class:"form-control" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<%= f.label :end_time, 'Event End Time'%>
					<%= f.text_field :end_time, :placeholder=>"8PM", class:"form-control" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<%= f.label 'Select categories for this event'%>
					<% @categories.each do |category| %>
						<div class="checkbox"><label><%= check_box_tag "event[category_ids][]", category.id, @event.categories.include?(category) %> <%= category.name %></label></div>
					<% end %>
				</div>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="row">
			<div class="col-md-6">
				<%= f.submit "Save", class: "btn btn-primary" %>&nbsp;<%= link_to 'Cancel', events_path %>
			</div>
		</div>
	</div>
<% end %>

<script>
  $(function() {
    $( ".datepicker" ).datepicker({ minDate: 0,autoSize: true, dateFormat: "yy-mm-dd"});
  });
  </script>
