<% provide(:title, @event.name + " by " + @event.board.name + ":") %>
<%= render 'shared/header' %>

<section>
	<div class="container">
		<%= render 'event_page_header'%>
	</div>
</section>

<aside>
  <div class="container">
		<div class="row">
			<div class="col-md-7 mycontent-left">

				<div class="row">
					<div class="col-md-12">
						<h4>Date & Time</h4>
						<p><%= @event.formatted_date %><p>

						<h4>Location</h4>
						<p><%= @event.location %></p>

						<h4>Website</h4>
						<% if !@event.event_url.blank? %>
							<p><%= link_to @event.event_url, @event.event_url, :target => "_blank" %></p>
						<% else %>
							<p><small>N/A</small></p>
						<% end %>
					</div>
				</div>
				<div class="clear-separator"></div>
			</div>
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-12">
						<h4>Other events by this board</h4>
						<% if !@other_events_by_board.blank? %>
							<% @other_events_by_board.each do |other_event_by_board| %>
								<p><%= link_to other_event_by_board.name, event_path(other_event_by_board.slug) %></p>
							<% end %>
						<% else %>
							<p>There are currently no other planned events by this board.</p>
						<% end %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h4>Other events like this</h4>
						<% if !@other_events_by_categories.blank? %>
							<% @other_events_by_categories.each do |other_event_by_categories| %>
						 		<p><%= link_to other_event_by_categories.name, event_path(other_event_by_categories.slug) %></p>
							<% end %>
						<% else %>
							<p>There are currently no other planned events like this one.</p>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</aside>
