<%= form_for (@vendor) do |f| %>
	<div class="form-group">
		<%= render 'error_messages' %>

		<div class="row">
			<div class="span6"><%= f.label :name, 'Vendor Name'%></div>
		</div>

		<div class="row">		
			<div class="span6"><%= f.text_field :name, :placeholder=>"Vendor Name" %></div>
		</div>
		
		<div class="row">
			<div class="span6"><%= f.label :address, 'Address'%></div>
		</div>

		<div class="row">		
			<div class="span6"><%= f.text_area :address, :rows=>5, :class=>'input-block-level', :autofocus=> true %>
			</div>
		</div>		
		
		<div class="row">
			<div class="span6"><%= f.label :phone, 'Phone number'%></div>
		</div>

		<div class="row">		
			<div class="span6"><%= f.text_field :phone %></div>
		</div>
		
		<div class="row">
			<div class="span6"><%= f.label :email, 'Email Address'%></div>
		</div>

		<div class="row">		
			<div class="span6"><%= f.text_field :email %></div>
		</div>

		<div class="row">
			<div class="span6"><%= f.label :contact, 'Contact Person'%></div>
		</div>

		<div class="row">		
			<div class="span6"><%= f.text_field :contact %></div>
		</div>

		<div class="row">
			<div class="span6"><%= f.label :indoor, 'This vendor does indoor events:' %> <%= f.check_box :indoor %></div>
		</div>

		<div class="row">
			<div class="span6"><%= f.label :outdoor, 'This vendor does outdoor events:' %> <%= f.check_box :outdoor %></div>
		</div>

		<div class="row">
			<div class="span6"><%= f.label :capacity, 'What is the vendor\'s capcity?'%></div>
		</div>

		<div class="row">		
			<div class="span6"><%= f.number_field :capacity %></div>
		</div>

		<div class="row">
			<div class="span6"><%= f.label :cost, 'How much did it cost your board to hire this vendor?'%></div>
		</div>

		<div class="row">		
			<div class="span6"><%= f.number_field :cost %></div>
		</div>

		<div class="row">
			<div class="span6"><%= f.label :food, 'Does this vendor allow food at their venue?' %> <%= f.check_box :food %></div>
		</div>

		<div class="row">
			<div class="span6"><%= f.label :catering, 'Does this vendor allow outside catering?' %> <%= f.check_box :catering %></div>
		</div>

		<div class="row">
			<div class="span6"><%= f.label :board_id, 'Board'%></div>
		</div>

		<div class="row">		
			<div class="span6"><%= f.select :board_id,
                          if current_user.admin
                            @all_boards.collect {|b| [ b.name, b.id] }
                          else
                            current_user.boards.collect {|b| [ b.name, b.id] }
                          end
                          %></div>
		</div>

		<div class="row">	
			<div class="span6"><%= f.submit "Save", class: "btn btn-primary" %></div>
		</div>
	</div>
<% end %>
