<% provide(:title, "Vendors for Associate Boards in Chicago:") %>
<%= render 'shared/header' %>

<section>
	<div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h2 class="section-heading">Vendors Directory</h2>
      </div>
    </div>

		<div class="row text-muted">
			<div class="col-lg-12">
			     <p>As with everything on this site, the list of vendors is a community driven directory of vendors that have been used or referred to by other board members. This list will become increasingly useful as more vendors are added. If you have previously used a vendor for an event, please use our link below to submit this vendor to our directory.</p>
			</div>
		</div>

		<div class="row">
      <div class="col-md-7 mycontent-left">
				<% if !@vendors.blank? %>
		      <table class="table table-hoever">
		        <thead>
		          <tr>
		            <th>Vendor Name</th>
		            <th>Reviewing Board</th>
		          </tr>
		        </thead>
		        <tbody>
		        <!--<%= render @vendors %>-->
		          <% @vendors.each do |vendor| %>
		            <% @board = Board.find(vendor.board_id) %>
		            <tr>
		              <td><%= link_to vendor.name, vendor_path(vendor) %><div class="star" data-score='<%= vendor.get_average_rating %>'></div></td>
		              <td><%= link_to @board.name, board_path(@board.slug) %></td>
		            </tr>
		          <% end %>
		        </tbody>
		      </table>
		    <% end %>
				<%= will_paginate @vendors, renderer: BootstrapPagination::Rails %>
			</div>
			<div class="col-md-3">
				<div class="row">
					<p><%= link_to 'Add a vendor', new_vendor_path %></p>
					<span class="text-info"><small>Note that you have to be a board owner to submit a vendor to this list.</span> </small>
				</div>
			</div>
		</div>
	</div>
</section>
