<div class="row">
  <div class="span7 mycontent-left">
    <h1><%= @vendor.name %></h1>
    <% if current_user && @board.board_admin?(current_user) %>
      <p><%= link_to "Edit this vendor", edit_vendor_path(@vendor) %></p>
      <p><%= link_to "Delete this vendor", vendor_path(@vendor), method: :delete, data: { confirm: "Are you should you want to delete this vendor?" } %></p>
    <% end %>
    <% if !@vendor.address.blank? %>
      <strong>Address</strong>
      <p><%= @vendor.address %></p>
    <% end %>
    <% if !@vendor.phone.blank? %>
      <strong>Phone number</strong>
      <p><%= @vendor.phone %></p>
    <% end %>
    <% if !@vendor.contact.blank? %>
      <strong>Vendor contact name</strong>
      <p><%= @vendor.contact %></p>
    <% end %>
    <% if !@vendor.email.blank? %>
      <strong>Vendor contact email</strong>
      <p><%= @vendor.email %></p>
    <% end %>
    <strong>Indoor events</strong>
    <% if @vendor.indoor %>
      <p>Yes</p>
    <% else %>
      <p>No</p>
    <% end %>
    <strong>Outdoor events</strong>
    <% if @vendor.outdoor %>
      <p>Yes</p>
    <% else %>
      <p>No</p>
    <% end %>
    <strong>Capacity</strong>
    <p><%= number_with_delimiter(@vendor.capacity) %></p>
    <strong>Cost estimate for using this vendor</strong>
    <p><%= number_to_currency(@vendor.cost) %></p>
    <strong>Provides food</strong>
    <% if @vendor.food %>
      <p>Yes</p>
    <% else %>
      <p>No</p>
    <% end %>
    <strong>Allows outside catering</strong>
    <% if @vendor.catering %>
      <p>Yes</p>
    <% else %>
      <p>No</p>
    <% end %>
    <strong>Board who added this vendor</strong>
    <p><%= link_to @board.name, board_path(@board) %></p>

    <p class="section-title">Reviews (<%= @vendor.vendor_reviews.size %>) <span class='text-info'><small>Got thoughts on this vendor? <%= link_to "Write a review", new_vendor_review_path(@vendor) %>. </small></span> </p>
    <div class="row">
      <% if !@reviews.blank? %>
        <% @reviews.each do |review| %>
          <div class="row">
            <div class="span6">
              <blockquote>
                <p><%= review.title %></p>
                <div class="star" data-score='<%= review.rating %>'></div>
                <small>Submitted <%= time_ago_in_words(review.created_at) %> ago.</small>
                <h5>Pros:</h5>
                <p style="font-size:14px"><%= review.pros %></p>
                <h5>Cons:</h5>
                <p style="font-size:14px"><%= review.cons %></p>
              </blockquote>
              <%= will_paginate @reviews %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
