<div class="row">
  <h1><%= @vendor.name %></h1>
  <div class="span9">
    <p><%= @vendor.address %></p>
    <p><%= @vendor.phone %></p>
    <p><%= @vendor.email %></p>
    <p><%= @vendor.contact %></p>
  </div>
</div>
