
<div class="row">
	<div class="col-lg-12">
		<h2 class="section-heading"><%= @board.name %></h2>
		<!--- <div class="star" data-score='<%= @board.get_average_rating %>'></div> -->
		<p class="text-muted"><small>Interested in leaving private feedback for this board? <%= link_to 'Write an anonymous review', new_board_review_path(:board_slug => @board.slug, :board_id => @board.id) %>.</small></p>

		<% if (current_user && @board.board_admin?(current_user)) || site_admin_logged_in? %>
			<p><small><%= link_to 'Edit Board Details',edit_board_path(@board.slug) %> |
					<%= link_to 'Delete this Board', board_path(@board.slug), method: :delete, data: { confirm: "Do you want to delete this board and all information that belongs to it (vendors, events, reviews)?" } %></small>
			</p>
		<% end %>
	</div>
	<div class="row text-center">
		<div class="col-lg-12">
			<% if !@board.description.blank? %>
				<p><%= simple_format(@board.description, class:"text-muted") %></p>
			<% end %>
		</div>
	</div>
</div>
