<div class="row">
	<div class="span12">
		<span class="lead">Add A-Board to directory.</span>
	</div>
</div>

<div class="row">
	<div class="span8 separator"></div>
</div>

<div class="row">
	<div class="span6">
		<%= form_for (@board) do |f| %>
			<div class="form-group">
				<%= render 'error_messages' %>

				<div class="row">
					<div class="span6"><%= f.label :name, 'Board Name'%></div>
				</div>
		
				<div class="row">		
  					<div class="span6"><%= f.text_field :name, :placeholder=>"Board Name" %></div>
				</div>
				
				<div class="row">	
					<div class="span6"><%= f.submit "Add Board", class: "btn btn-primary" %></div>
				</div>
			</div>
		<% end %>
	</div>
</div>