<div class="row">
	<div class="span8">
		<span class="lead"><strong><%= @board.name %></strong></span>
		<div class="star" data-score='<%= @board.get_average_rating %>'></div>	
		<p>&nbsp;</p>
	</div>
</div>


<div class="tabbable">
	<ul class="nav nav-tabs">
  		<li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
  		<li><a href="#events" data-toggle="tab">Events</a></li>
  		<li><a href="#reviews" data-toggle="tab">Reviews (<%= @board.reviews.size %>)</a></li>
	</ul>
	
	<div class="tab-content">
	    <div class="tab-pane active" id="overview">
			<div class="row">	
				<div class="span7">
					<% if !@board.board_claimed? %>
						<p class="text-info">
					  	Are you a point of contact for this board? <%= link_to 'Claim this board', board_claim_path(@board) %>.
						</p>
					<% else %>
						<p>
					  	This board profile is managed by <%= @board.user.get_name.titleize %>
						</p>
					<% end %>
				</div>
			</div>
			<div class="row">
				<div class="span7">
					<div class="row">
						<div class="span7">
							<p><strong>Board Description</strong></p>
							<p><%= @board.description %></p>
						</div>
					</div>
				</div>
			</div>
	    </div>
	
	
	    <div class="tab-pane" id="events">
	      <p>No Events</p>
	    </div>
		
		
		
		<div class="tab-pane" id="reviews">
			<div class="row">	
				<div class="span7">
					<% if !@reviews.blank? %>
						<% @reviews.each do |review| %>
							<div class="row">
								<div class="span6">
									<blockquote>
											<p><%= review.title %></p>
											<div class="star" data-score='<%= review.rating %>'></div>
											<small><%= review.reviewer_type.name%>. Submitted <%= time_ago_in_words(review.created_at) %> ago.</small>
											<h5>Pros:</h5>
											<p style="font-size:14px"><%= review.pros %></p>
											<h5>Cons:</h5>	
											<p style="font-size:14px"><%= review.cons %></p>
									</blockquote>					
								</div>
							</div>
						<% end %>
					<% else %>
						<div class="row">
							<div class="span6">
								<p>No Reviews yet. Get the ball rolling, <%= link_to "write a review", new_board_review_path(@board) %>.</p>
							</div>
						</div>
					<% end %>
				</div>
				<div class="span4 pull-right">
					<p class='text-center'>Volunteered for this Associate Board? Contribute to the Community!</p>
			  	  <p class='text-center'><%= link_to "Write a Review!", new_board_review_path(@board), class: "btn btn-primary" %></p>
				</div>
			</div>
			<div class="row">	
				<div class="span6">
					<%= will_paginate @reviews %>
			</div>
		</div>
	</div>
</div>


<script>

$('.star').raty({ score: function() {
    						return $(this).attr('data-score');
  							},
	      		halfScore: true,
				readOnly: true
				});
</script>