<div class="row">
	<div class="span7 mycontent-left">	
		<%= render 'board_page_header'%>
		<div class="row">
			<div class="span7">
				<p class="section-title">Board Description</p>
				<% if !@board.description.blank? %>
					<p><%= simple_format(@board.description, class:"section-content") %></p>
				<% else %>
					<p>N/A</p>
				<% end %>
			</div>
		</div>
		
		<div class="row">
			<div class="span7">
				<p class="section-title">Events (<%= @board.events.size %>)
					<% if current_user && @board.board_admin?(current_user) %>
						<span class='text-info'><small><%= link_to 'Add Event', new_board_event_path(@board.slug) %></small></span>
					<% end %>
					</p>
				<% if !@events.blank? %>
					<% @events.each do |event| %>
						<div class="row">
							<div class="span6 section-content">
								<div class="event-block">
									<p><strong><%= link_to event.name, event.event_url, :target => "_blank"  %></strong></p>
									<p><small><%= event.description.truncate(160, separator:' ')%></small></p>						
									<p>Where: <%= event.location%></p>
									<p><%= event.date.strftime("%d %B")%> <%= event.start_time.strftime("%I:%M%p")%></p>
									
								<% if current_user && @board.board_admin?(current_user) %>
									<span class='text-info'><small><%= link_to "Edit", edit_board_event_path(@board.slug, event) %></small></span>
								<% end %>					
								</div>
							</div>
						</div>
					<% end %>
					<div class="row">	
						<div class="span6">
							<%= will_paginate @events %>
						</div>
					</div>
				<% end %>
			</div>
		</div>

		<div class="row">
			<div class="span7">
				<p class="section-title">Vendors (<%= @board.vendors.size %>)
					<% if current_user && @board.board_admin?(current_user) %>
						<span class='text-info'><small><%= link_to 'Add Vendor', new_vendor_path %></small></span>
					<% end %>
					</p>
				<% if !@vendors.blank? %>
					<% @vendors.each do |vendor| %>
						<div class="row">
							<div class="span6 section-content">
								<div class="event-block">
									<p><strong><%= link_to vendor.name, vendor_path(vendor)  %></strong></p>
									<p><div class="star" data-score='<%= vendor.get_average_rating %>'></div></p>
									
								<% if current_user && @board.board_admin?(current_user) %>
									<span class='text-info'><small><%= link_to "Edit Vendor", edit_vendor_path(vendor) %></small></span>
								<% end %>					
								</div>
							</div>
						</div>
					<% end %>
					<div class="row">	
						<div class="span6">
							<%= will_paginate @vendors %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
		
		<div class="row">
			<div class="span7">
				<p class="section-title">Reviews (<%= @board.reviews.size %>) <span class='text-info'><small>Got thoughts on this board? <%= link_to "Write a review", new_board_review_path(:board_slug => @board.slug, :board_id => @board.id) %>. </small></span> </p>
				<div class="row">	
					<div class="span7 section-content">
						<% if !@reviews.blank? %>
							<% @reviews.each do |review| %>
								<div class="row">
									<div class="span6">
										<blockquote>
												<p><%= review.title %></p>
                                                <% if site_admin_logged_in? %>
													<p style="font-size:14px"><%= link_to "Edit this review", edit_review_path(review) %></p>                                                                                               	
													<p style="font-size:14px"><%= link_to "Delete this review", review_path(review), method: :delete, data: { confirm: "Do you want to delete this review?" } %></p>
                                                                                                <% end %>


												<div class="star" data-score='<%= review.rating %>'></div>
												<small><%= review.reviewer_type.name%>. Submitted <%= time_ago_in_words(review.created_at) %> ago.</small>
												<h5>Pros:</h5>
												<p style="font-size:14px"><%= review.pros %></p>
												<h5>Cons:</h5>	
												<p style="font-size:14px"><%= review.cons %></p>
										</blockquote>					
									</div>
								</div>
							<% end %>
						<% end %>
					</div>
				</div>
				<div class="row">	
					<div class="span6">
						<%= will_paginate @reviews %>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<div class="span4">
		<div class="row">
			<p><span class='lead'>Quick Board Details</span><br />
			<% if !@board.board_claimed? %>
				<span class="text-info">
			  	<small>Are you a point of contact for this board? <br /><%= link_to 'Claim this board', board_claim_path(@board.slug) %>.</small>
				</span>
			<% else %>
				<span class="text-info">
		  		<small>This board profile is managed by <%= @board.user.get_name.titleize %></small>
				</span>
			<% end %>
			</p>
			<span><strong>Primary Contact:</strong></span>
			<% if @board.board_claimed? %>
				<p><small><%= @board.user.get_name.titleize %></small></p>
			<% else %>
				<p><small>N/A</small></p>
			<% end %>
		</div>
		<div class="row">
			<span><strong>Parent Organization:</strong></span>
			<% if !@board.parent_company.blank? %>
				<p><small><%= @board.parent_company %></small></p>
			<% else %>
				<p><small>N/A</small></p>
			<% end %>
		</div>
		
		<div class="row">
			<span><strong>Website URL:</strong></span>
			<% if !@board.url.blank? %>
				<p><small><%= link_to @board.url, @board.url, :target => "_blank"  %></small></p>
			<% else %>
				<p><small>N/A</small></p>
			<% end %>
		</div>
	</div>
</div>
