<% provide(:title, @board.name + ": ") %>
<%= render 'shared/header' %>

<section>
	<div class="container">
		<%= render 'board_page_header'%>
	</div>
</section>

<aside>
  <div class="container">
		<div class="row">
			<div class="col-md-7 mycontent-left">

				<!-- Announcements -->
				<div class="row">
					<div class="col-md-12">
						<h4>Announcements (<%= @announcements.size %>)</h4>
						<p><% if current_user && @board.board_admin?(current_user) %>
								<span class='text-info'><small><%= link_to 'Add Announcement', new_board_announcement_path(@board.slug) %></small></span>
							<% end %>
						</p>
						<% if !@announcements.blank? %>
							<% @announcements.each do |announcement| %>
								<p class="text-muted"><%= simple_format(announcement.text, class:"text-muted") %></p>
								<% if current_user && @board.board_admin?(current_user) %>
									<span class='text-info'><small><%= link_to "Edit", edit_board_announcement_path(@board.slug, announcement.id) %> | <%= link_to 'Delete', board_announcement_path(@board.slug, announcement.id), method: :delete, data: { confirm: "Do you want to delete this announcement?" } %> </small></span>
								<% end %>
								<% if announcement != @announcements.last %>
									<hr />
								<% end %>
							<% end %>
						<% end %>
					</div>
				</div>
				<!-- End Announcements -->

				<div class="clear-separator"></div>

				<!-- Events -->
				<div class="row">
					<div class="col-md-12">
						<h4>Upcoming Events (<%= @total_upcoming_events.size %>)</h4>
						<p><% if current_user && @board.board_admin?(current_user) %>
								<span class='text-info'><small><%= link_to 'Add Event', new_board_event_path(@board.slug) %></small></span>
							 <% end %>
						</p>
						<% if !@events.blank? %>
							<% @events.each do |event| %>
								<div class="row">
									<div class="col-md-1">
										<div class="date">
											<p><%= event.date.strftime("%d")%> <span><%= event.date.strftime("%^b")%></span></p>
										</div>
									</div>
									<div class="col-md-6">
										<h5><%= link_to event.name, event_path(event.slug) %></h5>
										<p><%= event.description.truncate(200, separator:' ')%></p>
										<p><strong>Where:</strong> <%= event.location%></p>
										<% if current_user && @board.board_admin?(current_user) %>
											<span class='text-info'><small><%= link_to "Edit", edit_board_event_path(@board.slug, event.slug) %> | <%= link_to 'Delete', board_event_path(@board.slug, event.slug), method: :delete, data: { confirm: "Do you want to delete this event?" } %> </small></span>
										<% end %>
									</div>
								</div>
								<% if event != @events.last %>
  								<hr />
  							<% end %>
							<% end %>
							<div class="row">
								<div class="col-md-7">
									<%= will_paginate @events, renderer: BootstrapPagination::Rails %>
								</div>
							</div>
						<% end %>
					</div>
				</div>
				<!-- End Events -->

				<div class="clear-separator"></div>

				<!-- Reviews -->
				<% if current_user && @board.board_admin?(current_user) %>
					<div class="row">
						<div class="col-md-12">
							<h4>Public Reviews of this Board (<%= @board.reviews.size %>)</h4>
							<p class='text-info'><small><%= link_to "Write a review", new_board_review_path(:board_slug => @board.slug, :board_id => @board.id) %>. </small></p>

							<div class="row">
								<div class="col-md-12">
									<% if !@reviews.blank? %>
										<% @reviews.each do |review| %>
											<div class="row">
												<div class="col-md-12">
													<blockquote>
														<p><%= review.title %></p>
                    				<% if site_admin_logged_in? %>
															<span class='text-info' style="font-size:12px"><%= link_to "Edit", edit_review_path(review) %> | <%= link_to "Delete", review_path(review), method: :delete, data: { confirm: "Do you want to delete this review?" } %></span>
														<% end %>
														<div class="star" data-score='<%= review.rating %>'></div>
														<small><%= review.reviewer_type.name%>. Submitted <%= time_ago_in_words(review.created_at) %> ago.</small>
														<h5>Pros:</h5>
														<p><%= review.pros %></p>
														<h5>Cons:</h5>
														<p><%= review.cons %></p>
													</blockquote>
												</div>
											</div>
										<% end %>
									<% end %>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<%= will_paginate @reviews, renderer: BootstrapPagination::Rails %>
								</div>
							</div>
						</div>
					</div>
				<% end %>
 			  <!-- End Reviews -->
			</div>

			<div class="col-md-4">
				<div class="row">
					<div class="col-md-12">
						<h4>Quick Board Details</h4>
							<% if !@board.board_claimed? %>
								<p class="text-info">
									<small>Are you a point of contact for this board? <br /><%= link_to 'Claim this board', board_claim_path(@board.slug) %>.</p>
							<% else %>
								<p class="text-info">
		  						<small>This board profile is managed by <%= @board.user.get_name.titleize %></small>
								</p>
							<% end %>
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<span><strong>Primary Contact:</strong></span>
							<% if @board.board_claimed? %>
								<p><small><%= @board.user.get_name.titleize %> (<%= mail_to @board.user.email, "Send email", encode: "hex" %>)</small></p>
							<% else %>
								<p><small>N/A</small></p>
							<% end %>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<span><strong>Parent Organization:</strong></span>
						<% if !@board.parent_organization.nil? %>
							<p><small><%= link_to @board.parent_organization.name, parent_organization_path(@board.parent_organization) %></small></p>
						<% else %>
							<% if !@board.parent_company.blank? %>
								<p><small><%= @board.parent_company %></small></p>
							<% else %>
								<p><small>N/A</small></p>
							<% end %>
						<% end %>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<span><strong>Website URL:</strong></span>
						<% if !@board.url.blank? %>
							<p><small><%= link_to @board.url, @board.url, :target => "_blank"  %></small></p>
						<% else %>
							<p><small>N/A</small></p>
						<% end %>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<span><strong>Founded:</strong></span>
						<% if !@board.founding_date.blank? %>
							<p><small><%= @board.founding_date.strftime("%B %Y")  %></small></p>
						<% else %>
							<p><small>N/A</small></p>
						<% end %>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<span><strong>Membership Size:</strong></span>
						<% if !@board.membership_size_id.blank? %>
							<p><small><%= @board.membership_size.name %> members</small></p>
						<% else %>
							<p><small>N/A</small></p>
						<% end %>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<span><strong>Meeting Occurrence:</strong></span>
						<% if !@board.period_id.blank? %>
							<p><small><%= @board.period.name %></small></p>
						<% else %>
							<p><small>N/A</small></p>
						<% end %>
					</div>
				</div>

				<div class="row">
					<p>&nbsp;</p>
				</div>

				<div class="row">
					<div class="col-md-12">
						<h5>Vendors used by this Board:</h5>
						<% if !@vendors.blank? %>
							<% @vendors.each do |vendor| %>
								<div class="row">
									<div class="col-sm-4">
										<p><small><%= link_to vendor.name, vendor_path(vendor) %></small>
										<% if current_user && @board.board_admin?(current_user) %>
											<span class='text-info'><small>(<%= link_to "Edit Details", edit_vendor_path(vendor) %>)</small></span>
										<% end %>
										</p>
									</div>
								</div>
							<% end %>
						<% else %>
							<p>This board has not submitted any vendors.</p>
						<% end %>

						<% if current_user && @board.board_admin?(current_user) %>
							<%= button_to 'Add Vendor', new_vendor_path, class: "btn btn-primary", method: 'get' %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</aside>
