<div class="row">
	<div class="span7 mycontent-left">
		<div class="row">
			<div class="span7 content-header">
				<span class="lead">Change your password</span>
				<p>Use the form below to change your password.</p>
			</div>
		<div>
		
		<div class="row">
			<div class="span7">
				<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
					<div class="form-group">
    					<%= devise_error_messages! %>
  						<%= f.hidden_field :reset_password_token %>
						
						<div class="row">
							<div class="span7"><%= f.label :password, "New password" %></div>
						</div>
		
    					<div class="row">
							<div class="span7"><%= f.password_field :password, autofocus: true, autocomplete: "off" %></div>
						</div>
		
						<div class="row">
							<div class="span7"><%= f.label :password_confirmation, "Confirm new password" %></div>
						</div>
    				
						<div class="row">
							<div class="span7"><%= f.password_field :password_confirmation, autocomplete: "off" %></div>
						</div>
					
						<div class="row">
							<div class="span7"><%= f.submit "Change my password", class: "btn btn-primary" %></div>
						</div>
					</div>
				<% end %>
 			</div>
		</div>
	</div>
</div>