<div class="row">
	<div class="span7 mycontent-left">
		<div class="row">
			<div class="span7 content-header">
				<span class="lead">Forgot your password?</span>
				<p>Enter the email address that you registered with and a temporary password will be sent to you. Follow instructions on the email to reset your password.</p>
			</div>
		</div>

		<div class="row">
			<div class="span7">
				<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
					<%= devise_error_messages! %>
					<div class="form-group">
						<div class="row">
							<div class="span7"><%= f.label :email %></div>
						</div>
						<div class="row">
							<div class="span7"><%= f.email_field :email, :autofocus=> true, :placeholder=>"Email address", :class => "form-control" %></div>
						</div>
						<div class="row">
							<div class="span7"><%= f.submit "Send me reset password instructions", class: "btn btn-primary" %></div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
