<div class="row">
	<div class="span8">
		<span class="lead">Review for <%= @board.name %></span>
		<div class="star" data-score='<%= @board.get_average_rating %>'></div>	
	</div>
</div>
<div class="row">
	<p>&nbsp;</p>
</div>

<div class="row">
	<div class="span7">
		<blockquote>
				<p><%= @review.title %></p>
				<div class="star" data-score='<%= @review.rating %>'></div>
				<small><%= @review.reviewer_type.name%>. Submitted <%= time_ago_in_words(@review.created_at) %> ago.</small>
				<h5>Pros:</h5>
				<p style="font-size:14px"><%= @review.pros %></p>
				<h5>Cons:</h5>	
				<p style="font-size:14px"><%= @review.cons %></p>
		</blockquote>
	</div>
	
	<div class="span4 alert alert-success">
		<p class='text-center'>Volunteered for this Associate Board? Contribute to the Community!</p>
  	  <p class='text-center'><%= link_to "Write a Review!", new_board_review_path, class: "btn btn-primary" %></p>
	</div>
</div>

<div class="row">
	<div class="span6">
		<p>Check out more anonymous reviews for <%= link_to @board.name, board_reviews_path(@board) %></p>
	</div>
</div>

<script>

$('.star').raty({ score: function() {
    						return $(this).attr('data-score');
  							},
	      		halfScore: true,
				readOnly: true,
				hints: ['Very Dissatisfied', 'Dissatisfied', 'Neutral "OK"', 'Satisfied', 'Very Satisfied'],
				path: '/assets'
				});
</script>