<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
    	<div class="container">
        	<%= link_to "All A-Board Alliance", root_path, id: "logo" %>
			<nav>
		   		<ul class="nav pull-left">
		    		<li><%= link_to "Boards", boards_path %></li>
		    		<li><%= link_to "Vendors", vendors_path %></li>
                                <% if site_admin_logged_in? %>
		    		  <li><%= link_to "Users", users_path %></li>
                                <% end %>
				</ul>
				<ul class="nav pull-right nav-pills">
					<% if user_signed_in? %>
						<li class="dropdown">
							<%= link_to current_user.get_name.titleize, "#", "data-toggle" => "dropdown", :class=>"dropdown-toggle"%>			
							<ul class="dropdown-menu">
								<li><%= link_to "My Account", user_path(current_user.id)%></li>
								<li class="divider"></li>
								<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
							</ul>
						</li>
					<% else %>				
						<li><%= link_to "Sign in", new_user_session_path %></li>
					<% end %>
				</ul>
			</nav>
  		</div>
	</div>
</header>
